@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 51 55% 82%;
    --foreground: 201 100% 14%;
    --card: 51 55% 87%;
    --card-foreground: 201 100% 14%;
    --popover: 51 55% 87%;
    --popover-foreground: 201 100% 14%;
    --primary: 31 100% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 51 55% 75%;
    --secondary-foreground: 201 100% 14%;
    --muted: 51 30% 75%;
    --muted-foreground: 201 100% 20%;
    --accent: 201 100% 14%;
    --accent-foreground: 51 55% 82%;
    --destructive: 0 69% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 51 30% 70%;
    --input: 51 30% 70%;
    --ring: 31 100% 48%;
    --chart-1: 31 100% 48%;
    --chart-2: 201 100% 14%;
    --chart-3: 0 69% 50%;
    --chart-4: 40 97% 64%;
    --chart-5: 201 100% 25%;
    --radius: 0.5rem;
    --sidebar-background: 201 100% 14%;
    --sidebar-foreground: 51 55% 82%;
    --sidebar-primary: 31 100% 48%;
    --sidebar-primary-foreground: 201 100% 14%;
    --sidebar-accent: 31 100% 48%;
    --sidebar-accent-foreground: 201 100% 14%;
    --sidebar-border: 201 100% 20%;
    --sidebar-ring: 31 100% 48%;
  }
  .dark {
    --background: 201 100% 10%;
    --foreground: 51 55% 82%;
    --card: 201 100% 14%;
    --card-foreground: 51 55% 82%;
    --popover: 201 100% 14%;
    --popover-foreground: 51 55% 82%;
    --primary: 31 100% 48%;
    --primary-foreground: 201 100% 14%;
    --secondary: 201 100% 20%;
    --secondary-foreground: 51 55% 82%;
    --muted: 201 100% 20%;
    --muted-foreground: 51 55% 70%;
    --accent: 31 100% 48%;
    --accent-foreground: 201 100% 14%;
    --destructive: 0 69% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 201 100% 20%;
    --input: 201 100% 20%;
    --ring: 31 100% 48%;
    --chart-1: 31 100% 48%;
    --chart-2: 51 55% 82%;
    --chart-3: 0 69% 50%;
    --chart-4: 40 97% 64%;
    --chart-5: 201 100% 60%;
    --sidebar-background: 201 100% 14%;
    --sidebar-foreground: 51 55% 82%;
    --sidebar-primary: 31 100% 48%;
    --sidebar-primary-foreground: 201 100% 14%;
    --sidebar-accent: 31 100% 48%;
    --sidebar-accent-foreground: 201 100% 14%;
    --sidebar-border: 201 100% 20%;
    --sidebar-ring: 31 100% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
